<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div id="main_title"><h1>Your Kitchen Pantry</h1></div>
    <div id="main_title_nav_bar">
      <table>
      <tr>
        <td><a href="{{url_for('pantry_index')}}">Home</a></td>
        {% if session and session.get('email') %}
        <td>
          <form method="post" action="{{url_for('gdisconnect')}}">
            <button>Logout</button>
          </form>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td>{% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{message}}
                {% endfor %}
              {% endif %}
            {% endwith %}
        </td>
      </tr>
    </table>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
