<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div id="main_title"><h1>Your Kitchen Pantry</h1></div>
    <div id="main_title_nav_bar">
      <tr>
        <td><a href="{{url_for('home')}}">Home</a></td>
        <td><a href="{{url_for('addCategory')}}">Add Category</a></td>
        <td>
          <form method="post" action="{{url_for('gdisconnect')}}">
            <button>Logout</button>
          </form>
        </td>
      </tr>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
