{% extends "base.html" %}
{% block content %}

<div>
{% if not categories %}
  No food categories to display yet. Add some!
{% endif %}
</div>
<div>
  <table>
    <tr>
      <td><a href="{{url_for('addCategory', pantry_id=pantry_id)}}">Add Category</a></td>
    </tr>
    {% for category in categories %}
    <tr>
      <td><h3>{{category.name}}</h3></td>
      <td><a href="{{url_for('displayCategory', pantry_id=pantry_id, category_id=category.id)}}">View</a></td>
      <td><a href="{{url_for('editCategory', pantry_id=pantry_id, category_id=category.id)}}">Edit</a></td>
      <td><a href="{{url_for('delCategory', pantry_id=pantry_id, category_id=category.id)}}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
