{% extends "base.html" %}
{% block content %}

<div>
{% if not items %}
  There are no items in the <b>{{category.name}}</b> category to display yet. Add some!
{% endif %}
</div>
<div>
  <table>
    <tr>
      <td><a href="{{url_for('add_item', pantry_id=pantry_id, category_id=category.id)}}">Add an item</a></td>
      <tr>
        <td><a href="{{url_for('category_index', pantry_id=pantry_id)}}">Back to Category Index</a></td>
      </tr>
    {% for item in items %}
    <tr>
      <td><h4>{{item.name}}</h4></td>
      <td><a href="{{url_for('display_item', pantry_id=pantry_id, category_id=category.id, item_id=item.id)}}">View</a></td>
      <td><a href="{{url_for('edit_item', pantry_id=pantry_id, category_id=category.id, item_id=item.id)}}">Edit</a></td>
      <td><a href="{{url_for('del_item', pantry_id=pantry_id, category_id=category.id, item_id=item.id)}}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
