{% extends "base.html" %}
{% block content %}

<form method="post">
  <table>
    <tr>
      <td>Enter a new name for the <b>{{pantry.name}}</b> pantry below:</td>
    </tr>
    <tr>
      <td>
        <input type="text" name="updated_name" placeholder="{{pantry.name}}">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{url_for('pantry_index')}}">Cancel edit</a>
      </td>
    </tr>
    <tr>
      <td>{{form_error}}</td>
    </tr>
  </table>
</form>

{% endblock %}
